<html>
	<head>
		<title>1010 utilities</title>
	</head>

	<body>
		<div class="form-wrapper">
			<form name="check_deal" action="/deal" method="get">				
				<label>Bloomberg name:</label>
				<input type="text" name="bloomberg_name"/><br/>
				
				<input type="submit" value="Get data"/>
			</form>
		</div>
	</body>
</html>
